ion-content {
    --background: url(../../assets/bg-timeline-end.png) 0% 0%/100% 100% no-repeat;
}

p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}
.text-body{
    padding-top: 30%;
}