<!-- <ion-header>
  <ion-toolbar>
    <ion-title>timeline-end</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header">
    <img class="logo-header" src="../../assets/logo.png">
    <label class="text-header"> Co-location</label>
    <ion-icon name="home" class="home-icon"></ion-icon>
  </div>

  <div class="text-body">
    <p>
      ขณะนี้ระบบได้ทำการบันทึกข้อมูล
      <br>ของคุณเป็นที่เรียบร้อยแล้ว
      <br>ขอบคุณสำหรับความร่วมมือค่ะ
      <br>ทางเราขอเป็นกำลังใจให้ทุกท่าน
      <br>ร่วมฝ่าวิกฤตโควิดในครั้งนี้ไปด้วยกันค่ะ
    </p>
  </div>

</ion-content>