<ion-content>
  <div class="header">
    <img class="logo-header" src="../../assets/logo.png">
    <label class="text-header"> Co-location</label>
    <ion-icon name="home" class="home-icon" (click)="goHomepage()"></ion-icon>
  </div>

  <div>
    <ion-card>
      <ion-card-content>
       {{getValueAddress.place}}
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        10/01/2022 จำนวน 2 คน
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        ผู้ใช้หมายเลข 1001 เวลา 13.00 น.
      </ion-card-content>
    </ion-card>

    
    <ion-card>
      <ion-card-content>
        ผู้ใช้หมายเลข 1002 เวลา 13.10 น.
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>