ion-content {
    --background: url(../../assets/bg-content2.png) 0% 0%/100% 100% no-repeat;
}

.item {
    padding-top: 23%;
    padding-left: 10%;
    width: 90%;
}

.button {
    padding-top: 30px;
    padding-left: 20%;
    width: 80%;
    height: 30%;
}
ion-button{
    --color:black;
    --background: #ffffff;
}
ion-card-content{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}