ion-content {
  --background: url(../../assets/bg-content-right.png) 0% 0%/100% 100% no-repeat;
}

ion-item {
  padding-top: 15px;
  margin: auto;
  // padding-left: 10%;
  width: 90%;
}

.button {
  margin-top: 10%;
  padding-left: 20%;
  // width: 80%;
  // height: 40%;
}
ion-button {
  --color: black;
  --background: #ffffff;
}
ion-card {
  width: 50%;
  --background: #dae0ff;
}
ion-card-content {
  font-size: 16px;
  --color: black;
  font-weight: bold;
  text-align: center;
}
ion-input {
  width: 80%;
  --color: grey;
  --background: #ffffff;
}

.thirdPart {
  .content {
    padding-top: 10%;
  }
  .seperate-item {
    display: flex;
    justify-content: space-around;
  }

  .item {
    padding-top: 25px;
  }
  ion-label {
    font-weight: bold;
    text-align: center;
  }
  ion-item {
    margin: auto;
    width: 80%;
  }
  ion-button {
    float: right;
    padding-right: 40px;
  }
}
