ion-content {
    --background: url(../../assets/bg-content-right.png) 0% 0%/100% 100% no-repeat;
}

.button {
    margin-top: 10%;
    padding-left: 20%;
}
ion-button {
    --color: black;
    --background: #ffffff;
    float: right;
    padding-right: 40px;
}

ion-input {
    width: 80%;
    --color: grey;
    --background: #ffffff;
}

.seperate-item {
    display: flex;
    justify-content: space-around;
}

.content{
    padding-top: 10%;
}

ion-item{
    margin: auto;
    width: 80%;
}
.item{
    padding-top: 25px;
}

ion-label{
    font-weight: bold;
    text-align: center;
}