<!-- <ion-header>
  <ion-toolbar>
    <ion-title>timeline</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header">
    <img class="logo-header" src="../../assets/logo.png">
    <label class="text-header"> Co-location</label>
    <ion-icon name="home" class="home-icon" (click)="goHomepage()"></ion-icon>
  </div>

  <div class="content">
    <ion-item>
      <ion-label>วัน / เดือน / ปี: </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <div class="item">
      <ion-row class="seperate-item">
        <ion-col size="6">
          <ion-label>สถานที่: </ion-label>
          <ion-item>
            <ion-label>1: </ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-label>เวลา: </ion-label>
          <ion-item>
            <ion-label> </ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="seperate-item">
        <ion-col size="6">
          <ion-item>
            <ion-label>2: </ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-label> </ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="seperate-item">
        <ion-col size="6">
          <ion-item>
            <ion-label>6: </ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-label> </ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    </div>

    <div class="button">
      <ion-button (click)="nextPage()">ส่ง</ion-button>
    </div>

  </div>
</ion-content>