<ion-content>
  <div class="header">
    <img class="logo-header" src="../../assets/logo.png">
    <label class="text-header"> Co-location</label>
    <ion-icon name="home" class="home-icon" (click)="goHomepage()"></ion-icon>
  </div>

  <div class="item">
    <ion-item>
      <ion-label>เขต</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="valueDistrict" (ionChange)="selectDistrict()">
        <ion-select-option [value]="dis" *ngFor="let dis of district">{{dis}}</ion-select-option>
      
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>แขวง</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="valueSubDistrict" (ionChange)="selectSubDistrict()">
        <ion-select-option [value]="subDis" *ngFor="let subDis of subDistrict">{{subDis}}</ion-select-option>
      </ion-select>
    </ion-item>

  </div>

  <div class="button">
    <ion-button (click)="nextPage()">ส่ง</ion-button>
  </div>


</ion-content>