<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="grid-full" [fullscreen]="true">
  <ion-grid>
    <div class="header">
      <img class="logo-header" src="../../assets/logo.png">
      <label class="text-header"> Co-location</label>
      <ion-icon name="home" class="home-icon"></ion-icon>
    </div>
    <ion-row>
      <ion-col>
        <img class="choice" src="../../assets/check-location1.jpg" (click)="checkLocation()">
      </ion-col>
      <ion-col>
        <img class="choice" src="../../assets/timeline1.jpg" (click)="timeline()">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>